name: sceneview_flutter
description: A demonstration of how to integrate SceneView in flutter.
version: 0.0.1
homepage: https://github.com/SceneView

environment:
  sdk: ^3.6.1
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: io.github.sceneview.sceneview_flutter
        pluginClass: SceneviewFlutterPlugin
